.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

    .header h3 {
        margin-left: 0.5%;
        margin-top: 10px;
    }

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width:120px;
}
    .search-container:hover {
        background-color: #f0f0f0;
    }
        .search-container:hover .search-input {
            /* Стили для поля ввода при наведении на контейнер */
            background-color: #f0f0f0; /* Пример стиля */
        }
        .search-container:hover .search-icon {
            filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(5000%) hue-rotate(220deg) brightness(90%) contrast(110%);
        }
.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transition: filter 0.3s; /* Плавный переход */
}

.search-input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    outline: none;
    width: 100px;
}


.menu-image {
    margin-left: 0.5%;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

    .menu-image:hover {
        filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(5000%) hue-rotate(220deg) brightness(90%) contrast(110%);
    }

.add-chat-button {
    background: none; /* Убираем фон кнопки */
    border: none; /* Убираем границу кнопки */
    padding: 0; /* Убираем внутренние отступы */
    cursor: pointer; /* Изменяем курсор при наведении */
    display: inline-flex; /* Используем Flexbox для центрирования содержимого */
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-right: 0.5%;
    margin-top: 10px;
}

    .add-chat-button:hover .add-chat-img {
        filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(5000%) hue-rotate(220deg) brightness(90%) contrast(110%);
        animation: rotate 0.5s linear forwards; /* Применяем анимацию вращения один раз */
    }

.add-chat-img {
    width: 30px;
    height: 30px;
    transition: filter 0.3s; /* Плавный переход для фильтра */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    .popup-content input {
        border: 1px solid #ccc;
        border-radius: 10px;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

        .popup-content input:hover {
            background-color: #f0f0f0;
            
        }

        .popup-content input:focus {
            outline: none; /* Убираем стандартное обрамление браузера */
            border: 1px solid #ccc; /* Оставляем тот же цвет границы */
        }

    .popup-content .button-container {
        display: flex;
        margin-top: 10px; /* Отступ сверху для кнопок */
    }

    .popup-content button {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px; /* Увеличиваем отступы для кнопок */
        flex-grow: 1; /* Позволяет кнопкам занимать равное пространство */
        margin-right: 10px; /* Отступ между кнопками */
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

        .popup-content button:last-child {
            margin-right: 0; /* Убираем отступ у последней кнопки */
        }
            .popup-content button:last-child:hover {
                color: red;
                background-color: #f0f0f0;
            }

        .popup-content button:hover {
            color: blue;
            background-color: #f0f0f0;
        }


    /* Добавим стиль для кнопок, чтобы они всегда имели одинаковую ширину */
    .popup-content .button-container button {
        min-width: 100px; /* Минимальная ширина кнопок */
    }




.chat-list-container {
    flex: 1;
    overflow-y: auto; /* Включаем вертикальную прокрутку для контейнера списка чатов */
    padding: 10px;
    margin-top: 20px;
    max-height: calc(100vh - 100px); /* Устанавливаем максимальную высоту контейнера */
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Добавляем отступы между элементами списка */
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px; /* Закругляем углы контейнера */
    background-color: #fff; /* Фон контейнера */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    .chat-item:hover {
        background-color: #f0f0f0;
        transform: translateY(-2px); /* Поднимаем элемент при наведении */
    }

.chat-info-container {
    flex: 1;
    padding: 10px;
}

.chat-info {
    display: flex;
    flex-direction: column;
}

.chat-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-id {
    color: #777;
    font-size: 0.9em;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-grid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.center-absolute {
    position: relative;
    height: 100vh;
}

    .center-absolute > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.mud-menu-item {
    display: block !important;
}