@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client

<h3>Chat</h3>

<input @bind="user" placeholder="User" />
<input @bind="group" placeholder="Group" />
<input @bind="message" placeholder="Message" />
<button @onclick="JoinGroup">Join Group</button>
<button @onclick="SendMessage">Send</button>

<ul>
    @foreach (var msg in messages)
    {
        <li>@msg</li>
    }
</ul>

@code {
    private HubConnection hubConnection;
    private string user;
    private string message;
    private string group; // Новая переменная для группы
    private List<string> messages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("http://185.221.197.115:8080/chathub")
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            messages.Add($"{user}: {message}");
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task JoinGroup()
    {
        if (!string.IsNullOrEmpty(group))
        {
            await hubConnection.InvokeAsync("JoinGroup", group);
        }
    }

    private async Task SendMessage()
    {
        if (!string.IsNullOrEmpty(user) && !string.IsNullOrEmpty(message) && !string.IsNullOrEmpty(group))
        {
            await hubConnection.InvokeAsync("SendMessage", group, user, message);
            message = string.Empty;
        }
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}
