@inherits LayoutComponentBase

<div class="page">

    @* Required *@
    <MudThemeProvider />
    <MudPopoverProvider />

    @* Needed for dialogs *@
    <MudDialogProvider />

    @* Needed for snackbars *@
    <MudSnackbarProvider />
    <main>
        @Body
    </main>
</div>
